body {
}

.home .category {
    padding: 20px;
    /*min-width:200px;*/
    /*margin-left:1px;*/
}

    .home .category:hover {
        opacity: 0.85;
    }

.home #category-selectors {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.home .category-head {
    /*color: #fff;*/
    text-decoration: none;
}

    .home .category-head:hover {
        /*background-color: transparent;*/
        /*text-shadow: 2px 2px 2px #111;*/
    }

.home #alphabetical-link {
    background-color: #9e2929;
}

.home #alphabetical-link:hover {
    background-color: #9e2929;
}

.home #family-link {
    background-color: #2929c8;
}

.home #location-link {
    background-color: #e27c34;
}

.selector-list {
    display: flex;
    flex-wrap: wrap;
}

.selector-item {
    padding: 10px;
    background-color: rgba(41,41,200,.75);
    color: #ffffdd;
    border-radius: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: 600;
}

    .selector-item:hover {
        background-color: #ffffdd;
        color: rgba(41,41,200,.75);
        text-decoration: none;
        border-radius: 0;
    }

.button-mod {
    border-radius: 0;
    margin: 5px;
    font-size: 24px;
}

.blurbs-parent{
    margin-top:40px;
}

/* bootstrap mod */
a.nav-link {
    font-size: 24px;
}

.nav-tabs .nav-link {
    border-radius:0;
}

.nav-tabs .nav-link.active {
    background-color:rgba(255, 255, 221, 0.00);
    color:#eeeeee;
    font-weight:600;
}

.card {
    border: none;
    border-radius: 0;
    color: #ffffdd;
    background-color: rgba(41,41,200,.75); /*#2929c8*/
 }
