body {
}

.home .category {
    padding: 20px;
    /*min-width:200px;*/
    /*margin-left:1px;*/
}

    .home .category:hover {
        opacity: 0.85;
    }

.home #category-selectors {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.home .category-head {
    text-decoration: none;
    flex-grow:2;
}

    .home .category-head:hover {
        /*background-color: transparent;*/
        /*text-shadow: 2px 2px 2px #111;*/
    }

.home #alphabetical-link {
    background-color: #9e2929;
}

.home #alphabetical-link:hover {
    background-color: #9e2929;
}

.home #family-link {
    background-color: #2929c8;
}

.home #location-link {
    background-color: #e27c34;
}

.navbar-brand-mod {
    display:flex;
    color: #ffd !important;
    font-size: 48px;
}

.descriptor-header {
    color: #ffffdd;
    font-size:24px;
    margin:20px 0;
}

.selector-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.selector-item {
    padding: 15px;
    background-color: rgba(41,41,200,.75);
    color: #ffffdd;
    border-radius: 0;
    margin: 2px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    text-align:left;
}

    .selector-item a {
        text-decoration: none;
        color: #ffffdd;
    }

selector a:hover {
    color: #0366d6;
    font-weight: 400;
}

.selector-item-disabled {
    padding: 15px;
    background-color: rgba(41,41,200,.75);
    color: #0366d6;
    border-radius: 0;
    margin: 2px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    text-align: left;
}

.selector-item:hover {
    background-color: #ffffdd;
    border-radius: 0;
    color: rgba(41,41,200,.75);
}

.selector-item:hover a {
    color: rgba(41,41,200,.9);
    text-decoration: none;
}

.selector-item-disabled:hover{
}

.selector-item-label {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    background-color: rgba(240,240,240,0.05);
}

.blurb-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.blurb {
    margin: 15px;
    border: 1px solid rgba(255,255,254, 0.75);
    position: relative;
    text-align: left;
    color: #ffffee;
    opacity: 0.8;
    height: 182px;
}

    .blurb:hover {
        opacity: 1;
        background-color: rgba(255,255,254, 1);
    }

        .blurb-image {
            width:320px;
            height:180px;            
        }

.blurb-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 10px 15px;
    background-color: rgba(20,20,20,.2);
    color: rgba(255,255,254,1);
    text-shadow:1px 1px 1px #000;
}

            .blurb-name {
                font-weight: 500;
            }

.blurb-sciname{
    font-style:italic;
}

.button-mod {
    border-radius: 0;
    margin: 5px;
    font-size: 24px;
}

.button-mod2 {
    margin-top:10px;
    border-radius: 25px;
    width:50px;
    height:50px;
    font-size: 24px;
}


.button-mod3 {
    position: fixed;
    bottom: 50px;
    right: 0;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 20px;
}

.blurbs-parent {
    margin-top: 40px;
}

/* bootstrap mod */
a.nav-link {
    font-size: 24px;
}

.nav-tabs .nav-link {
    border-radius:0;
}

.nav-tabs .nav-link.active {
    background-color:rgba(255, 255, 221, 0.00);
    color:#eeeeee;
    font-weight:600;
}

.card {
    border: none;
    border-radius: 0;
    color: #ffffdd;
    background-color: rgba(41,41,200,0);
}

.border-divider{
    border: 1px solid #888888;
    padding: 20px;
}

.col .category-item{
    text-decoration:none;
}

.no-show {
    color:#f8f9fa00 !important;
}

    .no-show:hover {
        color: #f8f9fa80 !important;
    }

.bird-banner {
    background-image: url(/Images/Site/RCC00160.JPG);
    background-size: cover;
    background-position: center 50%;
    /* background: no-repeat; */
    opacity: 0.6;
}

#bird-location:hover {
    color:#007bff;
}

.link-no-decoration:hover {
    text-decoration:none;
    color:#ffd;
}

    .carousel-indicators li.active {
        background-color: #007Bff;

    }

.carousel-indicators {
    bottom: -50px;
}