
@{
    ViewData["Title"] = "Admin";
}

@model AdminViewModel

<div class="container-fluid border-divider">
    <form asp-action="AddBird" asp-controller="Admin">
        <h3 class="description-text">Add new bird</h3>
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="Name" placeholder="Bird name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="sciName" name="SciName" placeholder="Scientific Name">
        </div>
        <div class="form-group col-lg-4 p-0">
            <select id="familyId" class="form-control" name="FamilyId">
                <option value=0 selected>FamilyId...</option>
                @foreach (var family in Model.Families)
                {
                    <option value=@family.Id>@family.SciName</option>
                }

            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 30px 10px">Add new bird</button>
    </form>
</div>

