$app-font: 'Raleway', sans-serif;
$app-bk-color: #0c0c20;
$intro-bk-color: #151545;
$app-font-color: #fffff0;
$app-select-bk-hover: #fffff0;
$app-select-bk: rgba(72, 72, 106, 0.75);
$app-select-bk-disabled: rgba(72, 72, 72, 0.75);
$app-select-bk-color-disabled: rgba(172, 172, 172, 0.75);
$app-select-font-size: 20px;
