@{
    ViewData["Title"] = "About";
}
<div class="descriptor-header">@ViewData["Title"]</div>


<div class="description-text">
    Here write longer text with style, ideas, gear, technique, etc
</div>