
@{
    ViewData["Title"] = "AlphabeticalView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string blurb = "~/Views/Shared/_BirdBlurbs.cshtml";

}

@model BirdViewModel

<h1 class="description-text">AlphabeticalView</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#alpha-a">A</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-b">B</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-c">C</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-d">D</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-e">E</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-f">F</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-g">G</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-h">H</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-i">I</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-j">J</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-k">K</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-l">L</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-m">M</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-n">N</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-o">O</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-p">P</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-r">R</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-s">S</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-t">T</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-u">U</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-v">V</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-w">W</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#alpha-y">Y</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="alpha-a" class="container tab-pane active">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "A" } });
    </div>
    <div id="alpha-b" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "B" } });
    </div>
    <div id="alpha-c" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "C" } });
    </div>
    <div id="alpha-d" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "D" } });
    </div>
    <div id="alpha-e" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "E" } });
    </div>
    <div id="alpha-f" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "F" } });
    </div>
    <div id="alpha-g" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "G" } });
    </div>
    <div id="alpha-h" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "H" } });
    </div>
    <div id="alpha-i" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "I" } });
    </div>
    <div id="alpha-j" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "J" } });
    </div>
    <div id="alpha-k" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "K" } });
    </div>
    <div id="alpha-l" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "L" } });
    </div>
    <div id="alpha-m" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "M" } });
    </div>
    <div id="alpha-n" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "N" } });
    </div>
    <div id="alpha-o" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "O" } });
    </div>
    <div id="alpha-p" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "P" } });
    </div>
    <div id="alpha-r" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "R" } });
    </div>
    <div id="alpha-s" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "S" } });
    </div>
    <div id="alpha-t" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "T" } });
    </div>
    <div id="alpha-u" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "U" } });
    </div>
    <div id="alpha-v" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "V" } });
    </div>
    <div id="alpha-w" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "W" } });
    </div>
    <div id="alpha-y" class="container tab-pane fade">
        @await Html.PartialAsync(@blurb, Model, new ViewDataDictionary(ViewData) { { "letter", "Y" } });
    </div>    
</div>

