@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="container">
        <div class="jumbotron" id="intro">
            <h2 class="description-text mb-5">Welcome to OnlyAves a site dedicated to bird photography</h2>
            <p class="description-text">
                All photographs, design and programming by rrchirinosc.
            </p>
            <p class="description-text">
                << Site is a work in progress >>
            </p>
        </div>
        <div class="selector-list">
            <a class="category-head" asp-action="Family">
                <div class="selector-item">
                    <h2>Family</h2>
                    <p>Birds by family.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Location">
                <div class="selector-item">
                    <h2>Location</h2>
                    <p>Birds by country.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Alphabetical">
                <div class="selector-item">
                    <h2>Alphabetical</h2>
                    <p>Birds in alphabetical order.</p>
                </div>
            </a>
        </div>
    </div>
</div>

