@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="container">
        <div class="jumbotron" id="intro">
            <h1 class="description-text">Intro to site</h1>            
        </div>
        <div class="selector-list">
            <a class="category-head" asp-action="Location">
                <div class="selector-item">
                    <h2>Location</h2>
                    <p>Select by country or in-captivity location.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Family">
                <div class="selector-item">
                    <h2>Family</h2>
                    <p>Select by Bird Family category.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Alphabetical">
                <div class="selector-item">
                    <h2>Alphabetical</h2>
                    <p>Select from the list of all the birds in the site.</p>
                </div>
            </a>
        </div>
    </div>
</div>

