@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@{
    //Layout = "~/_SiteLayout.cshtml";
    //Page.Title = "Home Page";

    @*<link href="/Content/Default.css" rel="stylesheet" type="text/css" />
        <script src="/scripts/Default.js" type="text/javascript"></script>*@

    string[] Months = { "", "January", "February", "March", "April", "May", "June", "July", "August", "September", "Octuber", "November", "December" };
}

<div class="home">
    <div class="container">
        <div class="jumbotron" id="intro">
            <h1 class="description-text">Intro to site</h1>
            <div>
                @*@foreach (var bird in Model.Birds)
                    {
                        <p>
                            <span class="temp-text">@bird.Name</span>
                            <span class="temp-text">(@bird.SciName)</span>
                            <span class="temp-text">@bird.FamilyId</span>
                        </p>
                    }*@
            </div>
        </div>
        <div class="selector-list">
            <a class="category-head" asp-action="Alphabetical">
                <div class="selector-item">
                    <h2>Alphabetical</h2>
                    <p>Select from the list of all the birds in the site.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Family">
                <div class="selector-item">
                    <h2>Family</h2>
                    <p>Select by Bird Family category.</p>
                </div>
            </a>
            <a class="category-head" asp-action="Location">
                <div class="selector-item">
                    <h2>Location</h2>
                    <p>Select by country or in-captivity location.</p>
                </div>
            </a>
        </div>
    </div>
</div>

