
@{
    //ViewData["Title"] = "Selection";
    string blurb = "/Views/Shared/_BirdBlurbs.cshtml";
}

@model BirdViewModel

<h2 class="descriptor-header">@ViewData["Title"]</h2>

<div class="container">
    @await Html.PartialAsync(@blurb, Model);
</div>

